<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xs.dc.dao.TblCompanyUserMapper" >
  <resultMap id="BaseResultMap" type="com.xs.dc.bean.TblCompanyUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="companyId" property="companyid" jdbcType="BIGINT" />
    <result column="sectionId" property="sectionid" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="postId" property="postid" jdbcType="BIGINT" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="VARCHAR" />
    <result column="roleType" property="roletype" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="currentStatus" property="currentstatus" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="secucode" property="secucode" jdbcType="VARCHAR" />
    <result column="authtype" property="authtype" jdbcType="VARCHAR" />
    <result column="applyfailAnsaesn" property="applyfailansaesn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, companyId, sectionId, userId, postId, userName, createDate, createTime, roleType, 
    status, currentStatus, sex, secucode, authtype, applyfailAnsaesn
  </sql>
  <select id="companyUser" resultType="string">
  	select count(id) from tbl_company_user where `status`='applySuc' and currentStatus='normal'
  </select>
  
  <select id="entryCompany" resultType="string">
  	select COUNT(DISTINCT companyId) as counts from tbl_company_user where `status`='applySuc' and currentStatus='normal'
  </select>
</mapper>